/*
Details table
*/
.vboxDetailsTable { padding: 2px; border-width: 0px; }
.vmTabDetails .vboxDetailsTable { font-size: 90%; }
.vmTabDetails .vboxDetailsTableHeader { white-space: nowrap; font-weight: bold; }
.vboxDetailsIndented { margin-left: 20px; }
.vboxDetailsTableData { margin-left: 4px; }

span.vboxDetailsNone { font-style: italic; font-weight: normal; }
span.navTreeServerStatus { font-style:italic; }
/*.vmStateIcon { display: inline-block; position: relative; left: -10px; width: 16px; height: 16px; background-repeat: no-repeat;background-size:16px 16px;}
.vmStateRunning .vmStateIcon { background-image:url(images/vbox/state_running_16px.png); }*/


.vcubeNavTree .x-tree-icon { height: 18px; width: 18px; background-size: 18px 18px; }
.vcubeNavTree .x-tree-node-text {
	font-size: 12px;
}
span.navTreeVMState { display: inline; }

.vboxSnapshot, .vboxSnapshot.x-grid-tree-node-expanded { background-image:url(images/vbox/offline_snapshot_16px.png) }
.vboxSnapshotOnline, .vboxSnapshotOnline.x-grid-tree-node-expanded { background-image:url(images/vbox/online_snapshot_16px.png) }
.x-mask, .x-mask.x-mask-gray
{
    background-color: #ccc;
    opacity: 1.0;
}